p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

.popover{
    width:180px;
    /*min-height: 50px;*/
    /*height: 250px;*/
    height: auto !important;
}
.popover .item:not(:last-child){
  border-bottom:1px solid #f2f2f2;
}
.popup{
    
}
.popup-body{    
    overflow: visible;
}
/* Menu
==================================*/
.bar{
  height:64px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.bar .title{
  position: relative;
  left:5px !important;
  line-height: 55px !important;
  font-size: 20px !important;
}
.bar .button {
  top:8px;
  /*background-color: red !important;*/
  min-height: 38px;
  min-width: 40px;
  max-width: 44px;
  margin-bottom: 0;
  max-height: 40px;
}
.has-header{
  top:65px;
}
.filter-bar-wrapper .button{
    box-shadow:none !important;   
}
.filter-bar-cancel{
    color: #000 !important;
    padding: 0 !important;
}

.books{
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*.books .col{
  min-width: 100%;
}*/
@media (max-width: 300px){
  .books .col{
    min-width: 90% !important;
  }  
}
@media (max-width: 450px){
  .books .col{
    min-width: 40%;
  }  
}
@media (min-width: 450px){
  .books .col{
    min-width: 30%;
  }  
}
@media (min-width: 680px){
  .books .col{
    min-width: 25%;
  }  
}
@media (min-width: 920px){
  .books .col{
    min-width: 15%;
  }  
}

.slider.chapters-slides{
    height: 100%;
    width: 100%;
    /*background-color: red;*/
}
.slider.chapters-slides.scaleSlide{
    height: 100%;

    -webkit-animation-name: scaleSlide;
    animation-name: scaleSlide;

    -webkit-animation-duration: 0.1525s;
    animation-duration: 0.1525s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.slider.chapters-slides.scaleSlide .slide{
  width: calc(100% - 60px);
}
.chapters-slides .slide{
    height: 100%;
    width: 100%;
}

@-webkit-keyframes scaleSlide{
  from {
    width: 100%;
    left: 0;
  }

  100% {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@keyframes scaleSlide{
  from {
    width: 100%;
    left: 0;
  }

  100% {
    width: calc(100% - 60px);
    left: 60px;
  }
}

.chapters-list{
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 100%;
  box-shadow: 2px 0 5px 0 rgba(0,0,0,.26);

  /*-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/

  -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

@-webkit-keyframes showChapters {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(-100%, 0,  0);
    visibility: hidden;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes showChapters {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
.showChapters{
  -webkit-animation-name: showChapters;
  animation-name: showChapters;

  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.orange, .orange:active{background-color: #FF9800;color: #211400;}.orange.inactive{color: #FFD494;}


/*ANIMATIONS*/
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}