html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:active{
  box-shadow: none;
}
.md-sidenav > .selected {
  border-left: 4px solid #FFAB40;
}
.selected{
  background-color: #FBFBFB !important;
  color: #9C27B0 !important;
}
.selected > svg{
  fill: #eee !important;
  color: #9C27B0 !important;
}
.md-content{
  /*background: red !important;*/
}

.md-thumb-container{
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.transition{
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.col-white{
  color: #F0F7E7;
}
/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    background-color: #F5FCFF;
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }
.chipsdemoCustomInputs input[type=number] {
  width: 110px; }
.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.chipsdemoCustomInputs .veggie-option .md-item-text h3, .chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

.lock-size {
  position: fixed;
  bottom: 5px;
  right: 40px;
}

.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
  background-color: #333; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
  background-color: #aaa; }
.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
  padding: 15px; }

.md-timeline{
  
}
.md-timeline-item{
  position: relative;
  margin-top: 30px;
}
.md-timeline-handle{
  text-align: center;
  font-size: 15px;
  border: 1px solid #B4B4B4;
  background: #fefefe;
  -webkit-transition: 0.35s linear all;
  -o-transition: 0.35s linear all;
  transition: 0.35s linear all;
}
.md-timeline-stip{
  position: absolute;
  left: 41%; top: 100%;
  width: 5px;height: 30px;
  border-left: 3px dotted #B4B4B4;
}

.md-timeline-handle.open{
  box-shadow: 0 0 1px #9C27B0;
  border: 10px solid #fff;
  line-height: 28px;
  color: #fff;
  background: #9C27B0;
  font-weight: bold;
}

.md-timeline-handle.open + .md-timeline-stip{
  border-left: 3px dotted #9C27B0;
}
.md-timeline-item:last-child .md-timeline-stip, .md-timeline-item:last-child.open .md-timeline-stip{
  border-color: transparent;
}
.md-timeline-handle.open:hover, .md-timeline-handle.open:active{
  background: #9C27B0 !important;
}

/*NG-ANIMATE HELPERS*/
.animated-class.ng-hide-add, .animated-class.ng-hide-remove.ng-hide-remove-active{
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -o-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}

.animated-class.ng-hide-remove, .animated-class.ng-hide-add.ng-hide-add-active{
  -webkit-animation: fadeOutRightBig 0.4s;
  -moz-animation: fadeOutRightBig 0.4s;
  -o-animation: fadeOutRightBig 0.4s;
  animation: fadeOutRightBig 0.4s;
}

