<ion-view view-title="Books">
	<ion-header-bar class="bar-stable">
	    <h1 class="title">Buddy Bible</h1>
	    <div class="buttons buttons-right">
	      <button class="button button-icon button-clear ion-android-search" ng-click="search()"></button>
	      <!-- <button class="button button-icon button-clear" ng-class="{'ion-android-menu' : viewStyle === 'grid', 'ion-grid' : viewStyle === 'list'}" ng-click="toggleViewStyle()"></button> -->
	      <button class="button button-icon button-clear ion-android-more-vertical" ng-click="mainPopover.show($event)"></button>
	    </div>
  	</ion-header-bar>
  	<ion-content delegate-handle="booksScroll">
	  	<div class="list" ng-show="emptyContent">
	  		<div class="item">
				<h2>Whoops! no content to display.</h2>
				<p>Please refresh filter to see some content.</p>
			</div>
	  	</div>
  		<div class="row books">
  			<div id="{{$index}}" class="col" ng-repeat="book in books " ui-sref="app.book({book: book.name})">
  				<div class="card" style="margin:0;">
  					<div class="item">
	  					<h2>{{book.name}}</h2>
			    		<p>{{book.chaptersCount}} chapter<span ng-show="book.chaptersCount > 1">s</span></p>
	  				</div>
  				</div>
		    </div>
  		</div>
  	</ion-content>
</ion-view>
