<ion-view view-title="{{book.name}} {{chapter}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-search" ng-click="showFilterBar()"></button>
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="mainPopover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <!-- <div ng-bind-html="to_trusted(book.chapters[0].stringVerses)"></div> -->
    <ion-slide-box show-pager="false" active-slide="activeSlide" on-slide-changed="slideChanged(index)">
      <ion-slide class="slide" ng-repeat="chapter in chaptersArray" ng-if="$index === chapter">
        <ion-content>
          <div class="padding" ng-bind-html="to_trusted(book.chapters[$index].stringVerses)"></div>
        </ion-content>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
