<ion-view view-title="Books">
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="closeBook()" ng-if="previewingABook"></button>
	 </ion-nav-buttons>
  	<ion-content delegate-handle="mainScroll">
	    <div id="{{$index}}" class="item book" ng-repeat="book in books" ng-class="{'open' : book.open}" ng-clic="openBook($index)" ui-sref="app.book({book: book.name})">
	    	<div ng-class="{'book-header' : book.open}" on-dra="closeBook()">
	    		<div ng-class="{'book-title' : book.open}">{{book.name}}</div>
	    	</div>
	    	<div class="padding-bottom" ng-class="{'book-body' : book.open}" ng-if="book.open">
		    	<ion-content>
		    		<div class="row chapters" ng-repeat="chapter in book.chapters" ng-if="$index % 3 === 0">
	                    <div class="item col col-33" ng-if="$index < book.chaptersCount">
	                        <div class="card" ui-sref="app.book({book: book.name, chapter:$index + 1, bookId : book.id})">{{$index + 1}}</div>
	                    </div>
	                    <div class="item col col-33" ng-if="$index + 1 < book.chaptersCount">
	                        <div class="card" ui-sref="app.book({book: book.name, chapter:$index + 2, bookId : book.id})">{{$index + 2}}</div>
	                    </div>
	                    <div class="item col col-33" ng-if="$index + 2 < book.chaptersCount">
	                        <div class="card" ui-sref="app.book({book: book.name, chapter:$index + 3, bookId : book.id})">{{$index + 3}}</div>
	                    </div>
	                </div>
		    	</ion-content>
	    	</div>
	      	<!-- <h3 ng-bind-html="book.name"></h3> -->
	    </div>
  	</ion-content>
</ion-view>
