<ion-modal-view class="fade" style="top:0 !important;bottom:0 !important;height: 280px !important;margin: auto;">
  <ion-content>
    <div style="text-align: center;" class="layout-fill layout-flex as-column center-center">
      <div><h3>Contacts:</h3></div> 
      <div><hr style="margin-bottom: 5px red solid"></div>
      <div>
        <h4>
          <p><i class="zmdi zmdi-phone"></i> &nbsp; +255717138056</p>
          <p><i class="zmdi zmdi-email"></i> &nbsp; wakyj07@gmail.com</p>
          <p><i class="zmdi zmdi-facebook"></i> &nbsp; Buddy Bible</p>
          <p style="margin:0"><i class="zmdi zmdi-twitter"></i> &nbsp; @buddybible</p>
        </h4>
      </div>
    </div>
  </ion-content>
</ion-view>