<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Buddy Bible</h1>
            </div>
        </div>
        <div class="list">
            <div class="padding">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name">
                </label>
                <br>
                <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
            </div>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border button-clear">
                Copyright &copy; buddybible <em>akil-inc</em>
            </button>
        </div>
    </ion-content>
</ion-view>
