<ion-view view-title="Settings">
  <ion-header-bar class="bar-stable">
    <button class="button back-button buttons no-text button-clear header-item" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
    <h1 class="title">Settings</h1>
  </ion-header-bar>
  <ion-content styl="top: 54px;" class="expanded">
    <ion-list>
        <div style="border-color: #E4E4E4;color:#9E9E9E" class="item item-divider">Verse Settings</div>
        <ion-toggle class="toggle-small toggle-stable" ng-model="receiveDailyVerses" ng-change="dailyVerses()">
            Receive daily verses.
        </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>