<md-toolbar class="md-whiteframe-z2" hide-gt-md>
	<div class="md-toolbar-tools">
		<md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-control trans">
		  <md-icon md-svg-icon="menu_white"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content layout="row" flex>
	<div layout="column" flex-gt-md="40" flex="20" hide show-gt-sm>
		<md-card style="margin:0;margin-bottom:5px;">
			<md-tabs md-selected="books.sortIndex">
		        <md-tab id="tab1" aria-controls="tab1-content">
		          All
		        </md-tab>
		        <md-tab id="tab2" aria-controls="tab2-content">
		          Old Tst
		        </md-tab>
		        <md-tab id="tab3" aria-controls="tab3-content">
		          New Tst
		        </md-tab>
		        <md-tab id="tab3" aria-controls="tab4-content">
		          Search
		        </md-tab>
		    </md-tabs>
		    <div ng-controller="bookTagsCtrl as ctrl" layout="column" flex ng-show="books.sortIndex === 3">
			  <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap md-require-match>
			      <md-autocomplete
			          md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" placeholder="Search for a tag">
			        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.testament}}</span>
			      </md-autocomplete>
			      <md-chip-template>
			        <span>
			          <strong>{{$chip.name}}</strong>
			          <em>({{$chip.testament}})</em>
			        </span>
			      </md-chip-template>
			    </md-chips>
		    </div>
		</md-card>
		<md-content flex md-scroll-y>
			<md-list-item class="md-2-line" ng-repeat="book in books | filter:bookSorts[books.sortIndex]" ng-click="viewBook(book.name)">
				<md-divider></md-divider>
				<!-- <md-icon md-svg-icon="" ng-if="$index === 0"></md-icon> -->
				<div class="md-list-item-text">
					<h3> 
						<span hide-gt-md style="text-align:center">{{book.shortname}}</span>
						<span hide show-gt-md>{{book.name}}</span>				
					</h3>
				  	<p hide show-gt-md> <i>chapters:</i> 5, writer: moses </p>
				</div>
			</md-list-item>
		</md-content>
	</div>

	<div layout="column" flex>
		<div flex layout="column" layout-padding style="padding:0;opacity:1;">
			<md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add to favourites" ng-click="addingnewquestion = !addingnewquestion" aria-label="Add question" ng-if="showVerses">
				      <md-icon md-svg-icon="favorite_white"    ng-if="!addingnewquestion"></md-icon>
				      <md-icon md-svg-icon="favorited_white" ng-if="addingnewquestion"></md-icon>
				    </md-button>
			<md-card style="margin:0;margin-bottom:5px;">
				<div layout="row">
					<span flex="5" ng-hid="searchingChapter"></span>
					<h2 class="md-title" ng-hide="searchingChapter" style="text-align:center;">{{selectedBook.name}} {{chapters.selectedIndex + 1}}</h2>
					<span flex ng-hide="searchingChapter"></span>
					<md-button aria-label="Search" ng-click="showVerses = !showVerses" class="md-icon-button" ng-hide="searchingChapter">
						<md-icon md-svg-icon="more_horiz"></md-icon>
					</md-button>
					<div flex ng-show="searchingChapter">
			            <md-input-container md-no-float>
			              <label>&nbsp;</label>
			              <input autofocus="true" id="search-box" ng-model="searchChapter.query" type="text" placeholder="search chapter....">
			            </md-input-container>
			        </div>
			        <md-button aria-label="Search" ng-click="toggleSearching('Chapter')" class="md-icon-button">
						<md-icon md-svg-icon="cancel" ng-if="searchingChapter"></md-icon>
						<md-icon md-svg-icon="search" ng-if="!searchingChapter"></md-icon>
					</md-button>
				</div>
				<div ng-hide="searchingChapter">
					<md-tabs md-selected="chapters.selectedIndex" ng-hide="showVerses">
				        <md-tab id="tab1" aria-controls="tab{{$index}}-content" ng-repeat="chapter in selectedBook.chapters">
				          {{$index+1}}
				        </md-tab>
				    </md-tabs>
				    <div class="md-toolbar-tools" ng-show="showVerses" flex>
				    	<md-button aria-label="Go to previous verse" ng-click="prevVerse()" class="md-icon-button">
							<md-icon md-svg-icon="go-prev"></md-icon>
						</md-button>
						<md-input-container flex>
							<md-select placeholder="Pick" ng-model="versesIndex">
							    <md-option value="$index" ng-repeat="verse in selectedBook.chapters[chapters.selectedIndex].verses">
							    	Verse {{$index}}
								</md-option>
							</md-select>
						</md-input-container>
				    	<md-button aria-label="Go to next verse" ng-click="nextVerse()" class="md-icon-button">
							<md-icon md-svg-icon="go-next"></md-icon>
						</md-button>
				    </div>
				</div>
			</md-card>
    		<md-content flex style="padding:0" layout="row">
				<md-content md-scroll-y layout="column" flex="15" ng-if="showVerses">
		    		<md-list-item ng-repeat="chapter in selectedBook.chapters" style="text-align:center" ng-click="chapters.selectedIndex = $index">
		    			<md-divider></md-divider>
		    			{{$index+1}}
		    		</md-list-item>
		    	</md-content>
			    <md-content md-scroll-y layout="column" flex style="border-left:1px solid #E0E0E0;padding:10px">
			    	<span ng-bind-html="to_trusted(selectedBook.chapters[chapters.selectedIndex].stringVerses)"></span>
		    	</md-content>
	    	</md-content>
		</div>
	</div>
</md-content>