<div layout="column" flex-gt-md="40" flex="20" hide show-gt-sm>
	<md-tabs md-selected="books.sortIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
          All
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
          Old Tst
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
          New Tst
        </md-tab>
        <md-tab id="tab3" aria-controls="tab4-content">
          Search
        </md-tab>
    </md-tabs>
    <div ng-controller="bookTagsCtrl as ctrl" layout="column" flex ng-show="books.sortIndex === 3">
    	<md-divider></md-divider>
	  	<md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap md-require-match>
	    	<md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" placeholder="Search for a tag">
	        	<span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.testament}}</span>
	      	</md-autocomplete>
	      	<md-chip-template>
		        <span>
	          		<strong>{{$chip.name}}</strong>
	          		<em>({{$chip.testament}})</em>
        		</span>
	      	</md-chip-template>
	    </md-chips>
    </div>
	<md-divider></md-divider>
	<md-content flex md-scroll-y>
		<md-list-item class="md-2-line" ng-repeat="book in books | filter:bookSorts[books.sortIndex]" ng-click="viewBook(book.name)">
			<md-divider></md-divider>
			<!-- <md-icon md-svg-icon="" ng-if="$index === 0"></md-icon> -->
			<div class="md-list-item-text">
				<h3> 
					<span hide-gt-md style="text-align:center">{{book.shortname}}</span>
					<span hide show-gt-md>{{book.name}}</span>				
				</h3>
			  	<p hide show-gt-md> <i>chapters:</i> 5, writer: moses </p>
			</div>
		</md-list-item>
	</md-content>
</div>

<div flex layout="column" class="md-whiteframe-z1" style="margin-left:10px;">
	<div flex layout="column" layout-padding style="padding:0;opacity:1;">
		<div layout="row">
			<span flex="5"></span>
			<h2 class="md-title" style="text-align:center;">
				{{selectedBook.name}} {{chapters.selectedIndex + 1}} <span ng-if="showVerses">: {{verseIndex + 1}}</span>
			</h2>
			<span flex></span>
			<md-button aria-label="Toggle Verse View" ng-click="showVerses = !showVerses" class="md-icon-button">
				<md-icon md-svg-icon="verse_view"></md-icon>
			</md-button>
		</div>
		<md-divider></md-divider>
		<md-content flex style="padding:0" layout="row" id="verseStuff">
			<md-content layout="column" flex="15" md-scroll-y>
	    		<md-list-item ng-repeat="chapter in selectedBook.chapters" style="text-align:center" ng-click="setChapter($index)">
	    			<md-divider></md-divider>
	    			{{$index+1}}
	    		</md-list-item>
	    	</md-content>
		    <md-content layout="column" flex style="padding:10px">
			    <div ng-if="showVerses">
			    	<br>
			    	<div class="md-toolbar-tools" ng-show="showVerses" flex>
				    	<div flex></div>
				    	<md-button aria-label="Go to previous verse" ng-click="prevVerse()" class="md-icon-button">
							<md-icon md-svg-icon="go-prev"></md-icon>
						</md-button>						
				    	<md-button aria-label="Go to next verse" ng-click="nextVerse()" class="md-icon-button">
							<md-icon md-svg-icon="go-next"></md-icon>
						</md-button>
				    </div>
				    <br>
			    	<md-list-item style="font-size:25px">
		    			{{selectedBook.chapters[chapters.selectedIndex].verses[verseIndex][verseIndex + 1]}}
		    		</md-list-item>
		    		<br><br><br>

		    		<md-divider></md-divider>
		    		
		    		<md-content style="padding:20px">
		    			Verse Details and sundry
		    		</md-content>
			    </div>
		    	<span ng-bind-html="to_trusted(selectedBook.chapters[chapters.selectedIndex].stringVerses)" ng-if="!showVerses"></span>
	    	</md-content>

	    	<div class="lock-size" ng-controller="fabdialCtrl as demo">
				<md-fab-speed-dial ng-if="showVerses" md-direction="up" class="md-fling md-fab-bottom-righ">
			        <md-fab-trigger>
						<md-button aria-label="menu" class="md-fab md-primary" ng-click="demo.openDialog($event, 'add')">
							<md-tooltip md-direction="left" class="md-primary">Menu</md-tooltip>
							<md-icon md-svg-icon="add_white"></md-icon>
						</md-button>
			        </md-fab-trigger>
			        
			        <md-fab-actions>
						<md-button aria-label="Share" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, 'share')">
						  <md-tooltip md-direction="left" class="md-primary">Share</md-tooltip>
						  <md-icon md-svg-icon="share"></md-icon>
						</md-button>
						<md-button aria-label="Favorite" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, 'favorite')">
						  <md-tooltip md-direction="left" class="md-primary">Favorite</md-tooltip>
						  <md-icon md-svg-icon="favorite"></md-icon>
						</md-button>
			        </md-fab-actions>
		      	</md-fab-speed-dial>
		    </div>

		    <script type="text/ng-template" id="dialog.html">
			    <md-dialog>
				    <md-dialog-content>
				      	<div ng-if="dialog.action === 'share'">
				      		<p> Share On: 
					      		<md-button class="md-primary md-flat" md-theme="{{ shareTheme }}" md-theme-watch>
					      			{{ share.option }}
					      		</md-button> 
					      	</p>
						    <md-radio-group ng-model="share.option" ng-change="shareTheme = share.option.toLowerCase()">
						    	<md-radio-button value="Facebook" class="md-primary" md-theme="facebook">Facebook</md-radio-button>
						      	<md-radio-button value="Twitter"  class="md-primary" md-theme="twitter">Twitter </md-radio-button>
					      		<md-radio-button value="Google"  class="md-primary" md-theme="google">Google+</md-radio-button>
						    </md-radio-group>
				      	</div>
				      	<div ng-if="dialog.action === 'favorite'">
				      		Verse {{verseFavd ? 'Removed from' : 'Added to'}}  Favourites 
			      			<md-button class="md-primary md-flat" ng-click="verseFavd = !verseFavd">
			      			 {{verseFavd ? 'Add' : 'Remove'}}
			      			</md-button> 
				      	</div>
				      	<div ng-if="dialog.action === 'add'">
				      		<div ng-show="!dialog.addingnewcollection">
				      			Check to add in the collection or <br>
					      		<md-button class="md-primary" md-theme="facebook" ng-click="dialog.addingnewcollection = true">
					      			Create New Collection
					      		</md-button>
					      		<md-list>
					      			<md-list-item ng-repeat="collection in dialog.collections">
					      				{{collection.name}} <md-checkbox class="md-secondary md-primary"></md-checkbox>
					      			</md-list-item>
					      		</md-list>
				      		</div>
				      		<div layout="row" ng-show="dialog.addingnewcollection">
				      			<div flex>
					      			<md-input-container md-no-float>
						              <label>&nbsp;</label>
						              <input ng-model="newcol" type="text" placeholder="Collection name">
						            </md-input-container>
					      		</div>
					      		<md-button class="md-icon-button" md-theme="success" ng-click="dialog.addToCollection(newcol)">
					      			<md-icon md-svg-icon="check"></md-icon>
					      		</md-button>
					      		<md-button class="md-icon-button" md-theme="google" ng-click="dialog.addingnewcollection = false">
					      			<md-icon md-svg-icon="cancel"></md-icon>
					      		</md-button>
				      		</div>
				      	</div>
			  		</md-dialog-content>
			  		<div class="md-actions">
				        <md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-flat">
				          Cancel
				        </md-button>
				        <md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-primary" md-theme="success">
				          Ok
				        </md-button>
				    </div>
			    </md-dialog>
			</script>
    	</md-content>
	</div>
</div>