<div layout="column" flex>
	<md-content flex md-scroll-y>
		<md-list-item class="md-3-line">
			<div class="md-list-item-text">
				<h3> Read Whole bible </h3>
			  	<p> I want to use one month </p>
			</div>
		</md-list-item>
		<md-divider></md-divider>
	</md-content>
</div>
<div flex="40" layout="column" class="md-whiteframe-z1" style="margin-left:10px;">
	<div class="md-toolbar-tools" flex>
		<h3 class="title">Resolution Name</h3>
    </div>
    <md-divider></md-divider>
	<md-content>
		<md-list-item class="md-3-line" ng-click="do">
			<div class="md-list-item-text">
				Resolution details
			</div>
		</md-list-item>
	</md-content>
</div>