<div layout="column" flex>
	<md-tabs md-selected="sortIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
          All
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
          Complete
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
          Incomplete
        </md-tab>
        <md-tab id="tab3" aria-controls="tab4-content">
          Suggested
        </md-tab>
    </md-tabs>
    <md-divider></md-divider>
    <div ng-show="addres">
    	<br>
    	<div layout="row">
    		<md-input-container md-no-float flex>
	          <label>&nbsp;</label>
	          <input autofocus="true" ng-model="newres" type="text" placeholder="new resolution....">
	        </md-input-container>
	        <md-button aria-label="Add Resolution" class="md-icon-button" ng-click="addResolution(newres)">
	          <md-icon md-svg-icon="check"></md-icon>
	        </md-button>
	        <md-button aria-label="Cancel" class="md-icon-button" ng-click="addres = false">
	          <md-icon md-svg-icon="cancel"></md-icon>
	        </md-button>
    	</div>
        <br>
    </div>

	<md-content flex md-scroll-y>
		<md-list-item class="md-2-line" ng-repeat="res in resolutions | filter:resSorts[sortIndex]" ng-show="res.length < 1">
			<md-divider></md-divider>
			<div class="md-list-item-text">
				<h3> Sorry No Items in this list</h3>
			  	<p> <small><i>Pleaase check back later or pick another filter</i></small></p>
			</div>
		</md-list-item>
		<md-list-item class="md-3-line" ng-repeat="res in resolutions | filter:resSorts[sortIndex]">
			<md-divider></md-divider>
			<div class="md-list-item-text">
				<h3> {{res.name}} </h3>
			  	<p ng-style="{'font-weight': res.complete ? 'bold' : 'normal' }">
			  		<small><i>{{res.complete ? 'Resolution Completed' : res.description}}</i></small>
			  	</p>
			</div>
			<md-icon md-svg-icon="check_success" ng-show="res.complete"></md-icon>
			<md-checkbox ng-show="!res.complete" class="md-secondary"></md-checkbox>
		</md-list-item>
	</md-content>
</div>
<div flex="40" layout="column" class="md-whiteframe-z1" style="margin-left:10px;">
	<div class="md-toolbar-tools" flex>
		<h3 class="title">Resolution Name</h3>
    </div>
    <md-divider></md-divider>
	<md-content>
		<md-list-item class="md-3-line" ng-click="do">
			<div class="md-list-item-text">
				Resolution details
			</div>
		</md-list-item>
	</md-content>
</div>