<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-ope="$mdMedia('gt-md')">
  <md-toolbar class="md-tall md-hue-" style="background:url('assets/logosvg.svg');background-position:center;background-size:cover;">
    <span flex></span>
    <md-list-item class="md-1-lin">
      <!-- <img ng-src="dp.jpg" class="avatar" alt="user avatar"/> -->
      <div class="md-list-item-text">
        <h4>Material Mplayer</h4>
      </div>
    </md-list-item>
  </md-toolbar>
  
  <md-content flex i="content" class="md-primary">
    <span flex></span>
    <md-divider></md-divider>
    <md-list>
      <md-subheader>Music</md-subheader>
      <md-list-item class="md-primary" ng-click="navigateTo(home, $event)">
        <md-icon md-svg-icon="eq"></md-icon>
        <p> Discover </p>
      </md-list-item>
      <span hide-gt-sm>
        <md-list-item class="md-primary" ng-click="navigateTo(home, $event)">
          <md-icon md-svg-icon="home"></md-icon>
          <p> All Music </p>
        </md-list-item>
        <md-list-item ng-click="navigateTo(albums, $event)">
          <md-icon md-svg-icon="favorite"></md-icon>
          <p> Favorite </p>
        </md-list-item>
        <md-list-item ng-click="navigateTo(playlists, $event)">
          <md-icon md-svg-icon="playlist"></md-icon>
          <p> Playlists </p>            
        </md-list-item>
      </span>
      <md-divider></md-divider>
      <md-subheader>Settings</md-subheader>
      <md-list-item>
        <md-icon md-svg-icon="fullscreen"></md-icon>
        <p> Turn Fullscreen {{onfullscreen ? 'off' : 'on' }} </p>
        <md-switch class="md-secondary md-primary" ng-model="onfullscreen" ng-change="goFullscreen()"></md-switch>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>