<div ng-repeat="book in books | groupBy:['testament']">
    <md-list-item ng-if="book.group_by_CHANGED">
        <span style="text-transform:uppercase">{{book.testament}}</span> &nbsp; TESTAMENT
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item flex ng-click="viewBook(book.name)">
        <md-divider></md-divider>
        <md-card-content layout="row">
            <h2 class="md-title">
                <span hide-gt-md style="text-align:center">{{book.shortname}}</span>
                <span hide show-gt-md>{{book.name}}</span>
            </h2>
        </md-card-content>
    </md-list-item>
</div>