<div layout="column" flex hide show-gt-sm>
	<md-tabs md-selected="activeTab">
        <md-tab id="tab1" aria-controls="tab1-content">
          My Subscriptions
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
          Discover
        </md-tab>        
    </md-tabs>
	<md-content flex md-scroll-y>
		<div ng-switch on="activeTab">
			<div ng-switch-when="0">
				<md-divider></md-divider>	
			</div>
			<div ng-switch-when="1">
				<md-divider></md-divider>
				<md-list-item class="md-3-line">
					<md-icon md-svg-icon="mic_none"></md-icon>
					<div class="md-list-item-text">
						<h3> Daily Verse Services </h3>
					  	<p> All daily verses services </p>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-3-line">
					<md-icon md-svg-icon="cast"></md-icon>
					<div class="md-list-item-text">
						<h3> Podcasts </h3>
					  	<p> Sermons, daily word/verses podcast form </p>
					</div>
				</md-list-item>
				<md-divider></md-divider>
			</div>
		</div>
	</md-content>
</div>

<div flex="40" layout="column" class="md-whiteframe-z2" style="margin-left:10px;">
	<div class="md-toolbar-tools" flex>
		<h3 class="title">Subscription Name</h3>
    </div>
	<md-content>
		<md-divider></md-divider>
		<md-list-item class="md-3-line" ng-click="do">
			<div class="md-list-item-text">
				<h3 class="title"> Item 1 </h3>
			  	<p> <i>Item details</i> </p>
			</div>
		</md-list-item>
		<md-divider></md-divider>
	</md-content>
</div>